<section class="content hero is-primary pl-6 mt-4">
  <div class="hero-body">
    <h1 class="title">Supertypes</h1>
    <p class="subtitle mt-2">Click on one of the supertypes listed below to view a table of all cards that belong to that supertype.</p>
  </div>
</section>
<div class="container has-text-centered pt-5 ">
  <div class="columns is-multiline mt-5">
    <% for supertype in @supertypes %>
      <div class="column is-one-third block">
        <p class="subtitle is-5"><%= link_to supertype.name, supertype %></p>
      </div>
    <% end %>
  </div>
</div>
<div class="section">
</div>
