<div class="content container py-5">
  <div class="columns">
    <div class="column">
      <h1 class="title">Supertypes</h1>
      <div class="mt-5">
        <ul style="list-style-type: none;">
          <% for supertype in @supertypes %>
            <p><%= link_to supertype.name, "/supertypes/#{supertype.id}" %></p>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
