<h1>About</h1>

<h2>Datasets</h2>
<p>I’ll be using the pokemon card data set and faker for location data.
The card table contains information such as name of the card, the number of hit points, the artist, description text, a URL to the card image.</p>
<p>A pokemon card can be categorized based on the card set that it was released in, its supertype, type, and subtype.</p>
<p>A pokemon card can be of different types and subtypes.</p>
<p>A pokemon card can be only one supertype and is released in one set.</p>
<p>A card set has information on its name, series, and release date.</p>
<p>The faker location data is used to generate locations that the set is available to purchase.</p>

<h2>ERD Database Diagram</h2>
<%= image_tag "ERD Diagram.png", alt: "ERD Diagram" %>