<!-- ERB Conditional - singular and plural label for type(s) -->
<% if @types.length() == 1 %>
  <% for type in @types%>
    <p><strong>Type:</strong> <%= link_to type.name, @link_type + "/#{type.id}"%></p>
  <% end %>
<% else %>
  <!-- showing the types on horizontal level -->
  <div class="level-left">
    <div class="level-item">
      <% for type in @types%>
        <!-- ERB conditional -->
        <!-- add commas if there's more than one type -->
        <% if type == @types.last()%>
          <p> <%= type.name %></p>
        <% else %>
          <p class="mr-1"><strong>Type:</strong> <%= type.name %>,</p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
