<!--Title -->
<section class="content hero is-primary">
  <div class="hero-body">
    <h1 class="title">Pokemon Cards</h1>
  </div>
</section>

<!-- Each card is displayed in a nested tile layout -->
<div class="columns is-multiline">
  <%= render partial: 'card', collection: @cards %>
</div>
<%= paginate @cards %>