<header>
  <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
      <div class="navbar-item">
        <%= link_to 'Home', root_path%>
      </div>
      <div class="navbar-item">
        <%= link_to 'About', 'pages/about'%>
      </div>
      <div class="navbar-item">

       <div class="field has-addons">
        <p class="control">
          <input class="input" type="text" placeholder="Find a post">
        </p>
        <p class="control">
          <button class="button">
            Search
          </button>
        </p>
      </div>
    </div>
  </nav>
</header>
