<header class="has-shadow">
  <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
      <div class="navbar-item">
        <%= link_to 'Home', root_path%>
      </div>
      <div class="navbar-item">
        <%= link_to 'About', 'pages/about'%>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="control">
            <input class="input" type="text" placeholder="Find a post">
        </div>
        <div class="control">
          <button class="button">Search</button>
        </div>
    </div>
  </nav>
</header>
