
<div class="container">
<div class="block">
  <h1>Subtypes#index</h1>
  <p>Find me in app/views/subtypes/index.html.erb</p>
  <p>TESTING</p>
  <% for subtype in @subtypes %>
    <p><%= subtype.name %></p>
  <% end %>
</div>
</div>