<div class="content container py-5">
  <div class="columns">
    <div class="column">
      <h1 class="title">Subtypes</h1>
      <div class="mt-5">
        <ul style="list-style-type: none;">
          <% for subtype in @subtypes %>
            <p><%= link_to subtype.name, "/subtypes/#{subtype.id}" %></p>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
