<div class="container">
<div class="columns is-multiline">
  <div class="column is-full mt-6">
    <h1 class="title">Cards belonging to subtype <%= @subtype.name %></h1>
  </div>
  <%= render partial: 'cards/card', collection: @st_cards %>
</div>
</div>
</div>
<div class="section"></div>
